:root {
   --color1: rgb(45, 105, 105);
   --color2: #51a2ca;
   --color3: aliceblue;
   --color4: #d9dcd6;
}

/** Universal selector to apply styling to all elements. */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

/**Sets properties for the whole page.*/
body {
   background-color: var(--color1);
}

/**Styling for the HEADER*/
.header {
   padding: 20px;
   font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
   background-color: var(--color2);
   color: var(--color3);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

/**Styling for h1 elements with a class="header"*/
header a {
   text-decoration: none;
}

header img {
   vertical-align: middle;
   text-align: left;
}

/**Styling of span element*/
header h1 .pina {
   color: var(--color4);
}

/**Styling for list of links*/
header nav ul,
.my-details ul {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

/**Styling of each link*/
header nav ul li {
   margin-left: 25px;
}

header nav ul li a:hover {
   background-color: var(--color1);
}

.container-1 {
   padding-top: 40px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
}

.container-1,
.my-title {
   font-size: 2rem;
   text-align: right;
   /* width: 20%; */
}

.my-details,
.container-2 {
   text-align: left;
   width: 80%;
   font-size: 100%;
   padding: 10px;
}

.container-1 .container-4 {
   padding: 60px;
}


.container-4 nav {
   border: none;
}

.container-3 {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   position: relative;
}

.app-1,
.app-2,
.app-3,
.app-4 {
   background-size: cover;
   background-position: right 100% bottom 100%;
   background-attachment: fixed;
   display: block;
   border: 3px solid red;
   padding: 80px 15px;
   margin: 5px auto;
   position: relative;
}

.container-4 {
   display: flex;
}

.app-01 {
   background-image: url("/assets/images/project1.JPG");
   width: 90%;
}

.app-02 {
   background-image: url("/assets/images/project1.JPG");
   width: 45%;
}

.app-03 {
   background-image: url("/assets/images/project1.JPG");
   width: 45%;
}

.app-04 {
   background-image: url("/assets/images/project1.JPG");
   width: 45%;
}

.app-legend {
   text-align: center;
   width: fit-content;
   position: absolute;
   bottom: 30px;
   left: 0px;
}

.avatar {
   width: 5rem;
   height: 5rem;
}
